* {
	margin: 10px auto;
}

body {
	background-color: #eaeaea;
	font-family: 'Poppins', sans-serif;

	color: #b9d;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	border-radius: 30px;
	align-items: center;

	width: 50vmax;
	height: auto;
}

.link {
	width: 75%;
	border-radius: 5px;
	border: 2px solid #b9d;

	padding: 5px;
	margin: 5px 10px;
}

img {
	border-image-outset: 1 4;
	border-radius: 100%;
	padding: 5px;
	border: 2px solid #b9d;
}

#image-perfil {
	width: 30vmin;
	height: auto;
}

#icons {
	margin: 50px auto 10px;
}
